	
.topheader {
	background-image: url("curly.jpg");
	background-attachment: fixed;
	background-size:cover;
	background-repeat: no-repeat;
	box-sizing:border-box;
	max-width: 100%;
  	height: 400px;
	
}
  
nav {
	box-sizing:border-box;
	background-color: none;
	color:rgb(139, 42, 229);
	display: flex;
	justify-content: space-between;
	font-size: medium;
}
.nav_log {

	background-color: black;
	display: flex;
	justify-content: space-between;
}
nav .mainMenu {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	list-style: none;
	background-color: black;
	background-position: inherit;
	padding-right: 650px;
	padding-left: 10px;
	margin-top: -0.5px;
	
}

nav .mainMenu li a {
	display: inline-block;
	padding: 15px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.2rem;
	color: white;
	font-size: medium;
	font-weight:bolder;
}

nav .mainMenu li a:hover {
	background-color:chartreuse;
	border-radius: 10px;
	height: 15px;
}
nav .openMenu {
	font-size: 2rem;
	margin: 20px;
	display: none;
	cursor: pointer;

}
nav .closeMenu {
	font-size: 2rem;
	margin: 20px;
	display: none;
	cursor: pointer;
}
nav .mainMenu .closeMenu , .icons i {
	font-size: 2rem;
	display: none;
	cursor: pointer;
}
.head_text {
	text-align: center;
	margin-bottom: 180px;
}
.fa-facebook:hover {color: deepskyblue;}
.fa-instagram:hover {color:rgb(139, 42, 229);}
.fa-twitter:hover {color: deepskyblue;}

nav .logo {
	margin:6px;
	font-size: 25px;
	margin-top: -14px;
}

.slider {
	width: 100%;
	height: 408px;
	object-fit: cover; 
	background-image: url(family1.jpg) 10px;
	background-repeat: no-repeat;
	background-attachment:scroll;
	background-size:auto;
	animation:20s slider infinite;
	
}

.container {
	display: flex;
	flex-direction:row;
	-ms-flex-align: end;
	justify-content:space-around;
	background-color:rgb(248, 242, 231);
	
}

.box {
	margin-left: 10px;
	background-color:none;
	width: 100%;
	padding-left: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 40px;
	font-weight: bold;
	margin-top: 10px;

	
}

@keyframes  slider {
	20% {
	background-image: url(family.jpg);
	}
	40% {
		background-image: url(help.jpg);
		}
	60% {
	background-image: url(studying.jpeg);
			}
	80% {
	background-image: url(family2.jpg);
		}
	100% {
	background-image: url(family1.jpg);
		}
	}

.nav-list {
	display: flex;
	flex-direction: row;
	align-items: center;
	display: flex;
	justify-content: space-between;
	flex: 0 0 auto; 
	font-weight:bold;
	font-size: small;
	
}

.nav-list li {
	width: 100px;
	height: 100px;
	margin: 0px;
	padding: 0px;
	text-transform: uppercase;
	list-style: none;
	font-family: 'Alfa Slab One', cursive;
	color: rgb(138, 43, 226);

}

.nav-list li a:hover{
	color: rgb(4, 253, 253);
	background-color:rgb(138, 43, 226);
	border-radius: 4px;
	margin: 10px;
	padding: 2px;
	-ms-text-kashida-space: 2px;
}

.nav-list li:nth-child(1) {
	margin-right: auto;
}
.toggle-button {
	position: absolute;
	top: .75rem;
	right: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 30px;
	height: 21px;
	
}

.col1 {	
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

body {	
	margin: 2%;
	font-family: 'Open Sans', sans-serif;
} 

p { 
	text-align: center;
	font-size: large;
	font-family: 'Open Sans', sans-serif; 
	font-size: 25px;
} 

h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 38px;
	padding: 20px;
}
.bottom {
	font-family: 'Open Sans', sans-serif;
	font-size: 36px;
	align-items: left;
	margin-left: 0%;

}

h3 {
font-size: larger;
}

h5 {
	font-size: small;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: white;
}

.contain {
	display: flex;
	flex-direction:row-reverse;
	-ms-flex-align: end;
	justify-content:space-between;
	color: black;	
}

a:link { 
	 
	text-decoration: none; 
	color: rgb(138, 43, 226);;
	font-size:18px;
	padding: 0%;
}

ul {
	font-weight: normal;
	font-size: large;
	list-style: none;
}

.footer {
	background-color:rgb(7, 41, 70);
	padding: 70px 0;
}
.footermin {
	background-color: rgb(7, 41, 70);
	padding: 10px 0;
}
.bottompage {
	max-width: 1170px;
	margin: auto;
}
h4 {
	color: white;
}
.col {
	display: flex;
	flex-wrap:nowrap;
	justify-content: center;
	
}

.footer-col {
	width: 25%;
	padding: 0 35px;
	
}

.footer-col ul li a:visited{
	color: rgb(139, 42, 229);
}

.footer-col ul li {
	color:aqua;
}

.footer-col ul li a:hover{
	color: white;
	
}

.social-links a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color:black;	
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	box-sizing: content-box;
	color: rgb(69, 224, 248);
	
}
.social-links a:hover {
	color: white;
	
}

.middle_content {
	background-color: rgb(253, 166, 4);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	color: white;
}

#aboutpage {
	background-image: url(curly.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Open Sans', sans-serif;
	
}

#aboutpage img {
	height: 200px;
	width: 200px;
	border-radius: 50%;
}

#contactpage {
	background-image: url(curly.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Open Sans', sans-serif;
}

.sign-up {
	width: 360px;
	height: 960px;
	margin: auto;
	list-style-position: left;
	list-style: none;

}

form {
	width: 300px;
	margin-left: 20px;
}

form label {
	display: flex;
}

form input {
	width: 100%;
	padding: 6.5px;
	border: none;
	border: 1px solid gray;
	border-radius: 6px;
	margin: 5px;
}

.signing {
	background-color: rgb(7,41,70);	
	background-attachment: fixed;
	background-size: cover;
	color: whitesmoke;
	margin-top: -20px;
	margin: 0%;
	padding: 0%;
}
.topheading {
	text-align: center;
	
}
#sub_button {
	color: whitesmoke;
	font-size: 15px;
}
input[type="button"]{
	width: 314px;
	height: 35px;
	margin-top: 20px;
	border: none;
	background-color:black;
	color: white;
	font-size: 15px;
}

input[value ="Home"]{
	width: 80px;
	height: 35px;
	margin: 1%;
	margin-top: 10px;
	border: none;
	border-radius: 6px ;
	background-color:black;
	color: white;
	font-size: 15px;
}
#preserved  {
	font-family: 'Open Sans', sans-serif;
	
}

@media (max-width: 768px) {

	nav .mainMenu{
		height: 100vh;
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 10;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: none;
		transition: top 1s ease;
		display: none;
		
	}

	nav .mainMenu .closeMenu {
		display: block;
		position: absolute;
		top: 40px;
		right: 40px;
	}

	nav .openMenu {
		display: block;
	
	}
	nav .mainMenu .closeMenu {
		font-size: 2rem;
		display:block;
		cursor: pointer;
	}
	.icons i {
		font-size: 2rem;
		display:none;
		cursor: pointer;
	}

	nav .mainMenu li a:hover {
		background: none;
		color: rgb(4, 253, 253);
		font-size: 1.6rem;
	}
	.mainMenu {
		position:fixed;
		left: 0px;
		background-color: black;
	}

	.container {
		display: block;
	}

	.slider {
		object-fit: cover;
		background-image: url("family1.jpg");
		background-repeat: no-repeat;
		background-attachment:scroll;
		background-size:auto;
		animation:20s slider infinite;
		background-position: center;
		
	}
	.box {
		font-family: 'Open Sans', sans-serif;
		text-align: center;
		margin: 0%;
		padding: 0%;
		font-weight: normal;
	}
	.aim {
		background-color: rgb(253, 166, 4);
		color: white;

		
	}
	.middle_content {
		position: relative;
		flex: wrap;
		flex-direction: column;
		justify-content: space-between;
		
	}	
	.contain {
		display: flex;
		flex-direction:column;
		-ms-flex-align: end;
		justify-content:space-between;
		color: white;	
	}
	.column {
		flex: wrap;
		flex-direction: column;
	}

	form {
		width: 240px;
		margin-left: 20px;
	}
	input[type="button"]{
		width: 178px;
		height: 35px;
		margin-left: 80px;
		margin-top: 20px;
		border: none;
		background-color:black;
		color: white;
		font-size: 15px;
	}
	.topheading {
		text-align: center;
		margin-right: 60px;
	}
	form input {
		width: 100%;
		padding: 6.5px;
		border: none;
		border: 1px solid gray;
		border-radius: 6px;
		margin: 5px;
		text-align: center;
	}
	.middle_content {
		flex: wrap;
		flex-direction: column;
		justify-content:space-between;

	} 
	.col {/*footer*/
		position: relative;
		flex-direction: column;
		justify-content: center;
	}
	.col .social-links{
		position: relative;
		flex-direction: column;
		justify-content: center;
		
	}
	/*images*/
	.topheader {
		background-image: url("curly.jpg");
		background-attachment: fixed;
		background-position:top;
		background-size:cover;
		background-repeat: no-repeat;
		box-sizing:border-box;
		width: 100%;
		height: auto;
		
	}
	#aboutpage {
		background-image: url("curly.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		font-family: 'Open Sans', sans-serif;
		width: 100%;
		height: auto;
		
	}
	img {
		max-width: 100%;
	}
	.message {
		background-color: rgb(7, 41, 70);
		color: white;
	}
	.contain {
		background-color: rgb(7, 41, 70);
	}
	
	.bottom {
		margin: 0%;
		padding: 0%;
	}
	.icons i {
		display: inline-block;
		padding: 12px;
	}
	
}




