	
.topheader {
	background-image: url("curly.jpg");
	background-attachment: fixed;
	background-size:cover;
	background-repeat: no-repeat;
	box-sizing:border-box;
	max-width: 100%;
  	height: auto;
	
}

nav {
	box-sizing:border-box;
	background-color: none;
	color:blueviolet;
	display: flex;
	justify-content: space-between;
	font-size: medium;
}
.nav_log {
	box-sizing:border-box;
	background-color: black;
	color: white;
	display: flex;
	justify-content: space-between;
}
nav .mainMenu {
	display: flex;
	list-style: none;
}

nav .mainMenu li a {
	display: inline-block;
	padding: 15px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.5rem;
	color:blueviolet;
	font-size: medium;
	font-weight:bolder;
}

nav .mainMenu li a:hover {
	background-color: aqua;
	border-radius: 10px;
	height: 15px;
}
nav .openMenu {
	font-size: 2rem;
	margin: 20px;
	display: none;
	cursor: pointer;
}

nav .mainMenu .closeMenu , .icons i {
	font-size: 2rem;
	display: none;
	cursor: pointer;
}

.fa-facebook:hover {color: blue;}
.fa-instagram:hover {color:blueviolet;}
.fa-twitter:hover {color: blue;}

nav .logo {
	margin:6px;
	font-size: 25px;
}

@media (max-width: 400px) {

	nav .mainMenu{
		height: 100vh;
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 10;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: none;
		transition: top 1s ease;
		display: none;
		
	}

	nav .mainMenu .closeMenu {
		display: block;
		position: absolute;
		top: 20px;
		right: 20px;
	}

	nav .openMenu {
		display: block;
	
	}

	nav .mainMenu li a:hover {
		background: none;
		color: aqua;
		font-size: 1.6rem;
	}

	.icons i {
		display: inline-block;
		padding: 12px;
	}
	.mainMenu {
		position:fixed;
		left: 0px;
		background-color: black;
	}
	
	.col {/*footer*/
		position: relative;
		flex-direction: column;
		justify-content: center;
	}
	.col .social-links{
		position: relative;
		flex-direction: column;
		justify-content: center;
		
	}
	.container {
		flex-wrap: wrap;
		flex-direction: column-reverse;
		justify-content:space-between;
	}
	.middle_content {
		position: relative;
		flex-direction: column;
		flex: wrap;
		flex-direction: column;
	}	
	.column {
		flex: wrap;
		flex-direction: column;
	}
	.contain {
		flex-wrap: wrap;
		flex-direction: column-reverse;
		justify-content:space-between;
	}
	.middle_content {
		flex: wrap;
		flex-direction: column;
		justify-content:space-between;
	} 
	/*images*/
	.slider {
		object-fit: cover;
		background-image: url(family1.jpg) 10px;
		animation:20s slider infinite;
		max-width: 100%;
	
	}
	.topheader {
		background-image: url("curly.jpg");
		background-attachment: fixed;
		background-size:cover;
		background-repeat: no-repeat;
		box-sizing:border-box;
		width: 100%;
		height: auto;
		
	}
	#aboutpage {
		background-image: url(curly.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		font-family: 'Open Sans', sans-serif;
		width: 100%;
		height: auto;
		
	}
	img {
		max-width: 100%;
	}
	.slider img {
		max-width: 100%;
	}
}


.slider {
	width: 612px;
	height: 408px;
	object-fit: cover;
	background-image: url(family1.jpg) 10px;
	background-image: no-repeat;
	background-attachment:scroll;
	background-size:contain;
	animation:20s slider infinite;
	

}

.container {
	display: flex;
	flex-direction:row;
	-ms-flex-align: end;
	justify-content:space-around;
	background-color:floralwhite;
	
}

.box {
	margin-left: -10px;
	background-color:none;
	width: 590px;
	padding-left: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 40px;
	padding-bottom: 20px;
	padding-bottom: 20px;

}

@keyframes  slider {
	20% {
	background-image: url(family.jpg);
	}
	40% {
		background-image: url(help.jpg);
		}
	60% {
	background-image: url(studying.jpeg);
			}
	80% {
	background-image: url(family2.jpg);
		}
	100% {
	background-image: url(family1.jpg);
		}
		
	}

.nav-list {
	display: flex;
	flex-direction: row;
	align-items: center;
	display: flex;
	justify-content: space-between;
	flex: 0 0 auto; 
	font-weight:bold;
	font-size: small;
	
}

.nav-list li {
	width: 100px;
	height: 100px;
	margin: 0px;
	padding: 0px;
	text-transform: uppercase;
	list-style: none;
	font-family: 'Alfa Slab One', cursive;
	color: rgb(138, 43, 226);

}

.nav-list li a:hover{
	color: aqua;
	background-color:rgb(138, 43, 226);
	border-radius: 4px;
	margin: 10px;
	padding: 2px;
	-ms-text-kashida-space: 2px;
}

.nav-list li:nth-child(1) {
	margin-right: auto;
}
.toggle-button {
	position: absolute;
	top: .75rem;
	right: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 30px;
	height: 21px;
	
}
.toggle-button .bar{
	height: 3px;
	width: 100%;
	background-color:black;
	border-radius: 10px;
}

.col1 {	
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

body {	
	margin: 2%;
	font-family: 'Open Sans', sans-serif;
} 

p { 
	text-align: center;
	font-size: large;
	font-family: 'Open Sans', sans-serif; 
	font-size: 25px;
} 

h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 38px;
}
.bottom {
	font-family: 'Open Sans', sans-serif;
	font-size: 36px; 
}

h3 {
font-size: larger;
}

h5 {
	font-size: small;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contain {
	display: flex;
	flex-direction:row-reverse;
	-ms-flex-align: end;
	justify-content:space-around;
	
}
img step {
	height: 10px;
	width: 100px;
}
.bottom {
	align-items: left;
	margin-left: 0%;

}
a:link { 
	 
	text-decoration: none; 
	color: white;
	font-size:18px;
	padding: 0%;
}

ul {
	font-weight: normal;
	font-size: large;
	list-style: none;
}

.footer {
	background-color:rgb(209, 226, 241);
	padding: 70px 0;
}
.footermin {
	background-color:rgb(209, 226, 241);
	padding: 10px 0;
}
.bottompage {
	max-width: 1170px;
	margin: auto;
}

.col {
	display: flex;
	flex-wrap:nowrap;
	justify-content: center;
	
}

.footer-col {
	width: 25%;
	padding: 0 35px;
	
}

.footer-col ul li a:hover{
	color: white;
	
}
.footer-col ul li {
	color: rgb(138, 43, 226);
}

.footer-col h4{
	font-size: 18px;
	font-family: 'Lusitana', serif;
}

.social-links a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color:black;	
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	box-sizing: content-box;
	color: rgb(138, 43, 226);
	
}
.social-links a:hover {
	color: white;
	
}

.middle_content {
	background-color: aqua;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

#aboutpage {
	background-image: url(curly.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Open Sans', sans-serif;
	
}

#aboutpage img {
	height: 200px;
	width: 200px;
	border-radius: 50%;
}

#contactpage {
	background-image: url(curly.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Open Sans', sans-serif;
}

.sign-up {
	width: 360px;
	height: 960px;
	margin: auto;
	list-style-position: left;
	list-style: none;

}

form {
	width: 300px;
	margin-left: 20px;
}

form label {
	display: flex;
}

form input {
	width: 100%;
	padding: 6.5px;
	border: none;
	border: 1px solid gray;
	border-radius: 6px;
	margin: 5px;
}

.signing {
	background-color: none;	
	background-image: url(enter6.jpg);
	background-size: cover;
	margin-top: -20px;
}

.topheading {
	text-align: center;
}

input[type="button"]{
	width: 314px;
	height: 35px;
	margin-top: 20px;
	border: none;
	background-color:black;
	color: white;
	font-size: 15px;
}

input[value ="Home"]{
	width: 80px;
	height: 35px;
	margin: 1%;
	margin-top: 10px;
	border: none;
	border-radius: 6px ;
	background-color:black;
	color: white;
	font-size: 15px;
}
#preserved  {
	font-family: 'Open Sans', sans-serif;
	
}


